{% extends 'learning_logs/base.html' %}

{% block page_header %}
	<h3>{{ topic }}</h3>
{% endblock page_header %}

{% block content %}
<p>
	<a href="{% url "learning_logs:new_entry" topic.id %}">Add New Entry</a>
</p>
<ul>
	{% for entry in entries %}
		<div class="card md-3">
			<h4 class="card-header">
			    {{ entry.data_added|date:'M d, Y H:i' }}
        	    <small><a href="{% url "learning_logs:edit_entry" entry.id %}">Edit entry</a></small>
            </h4>

        	<div class="card-body">
        		<p>{{ entry.text|linebreaks }}</p>
        	</div>
        </div><br>
        
		
	{% empty %}
		<p>There is no entries for this topic</p>
	{% endfor %}
</ul>
{% endblock content %}